:root {
    /* Colors */
    --blue-color: #1292EE;
    --blue-100-color: #F3FBFF;
    --blue-200-color: #D6EDFF;
    --blue-300-color: #A0D4FF;
    --blue-400-color: #57B0FB;
    --blue-500-color: #1292EE;
    --blue-600-color: #0077CC;
    --blue-700-color: #005CA4;
    --blue-800-color: #034077;
    --blue-900-color: #002651;

}

body {
    height: 10000px;
}

/* Start Header Section  */
.navbar {
    background-color: var(--blue-300-color) !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.45);
    padding: 8px 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar .navbar-brand img {
    width: 65px;
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
    font-weight: 600;
    padding: 0.5rem 1rem !important;
    font-size: 17px;
    color: var(--blue-900-color);
    text-transform: uppercase;
    transition: 0.5s;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    color: var(--blue-color);
}

.navbar .dropdown-menu {
    background: var(--blue-200-color);
}

.landing-section {
    width: 100%;
    height: 100vh;
    background-image: url(../img/five-games-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.landing-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-900-color);
    ;
}

/* End Header Section  */
