body {
    height: 10000px;
}

/* Start Header Section  */
nav.navbar .container .navbar-brand h1 {
    font-size: 2rem;
    font-weight: bold;
}
/* End Header Section  */

/* Start Landing Section  */
.carousel .carousel-inner .carousel-item {
    width: 100%;
    height: calc(100vh - 72px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.carousel .carousel-inner .carousel-item:first-child {
    background-image: url(../img/landingimg1.webp);
}

.carousel .carousel-inner .carousel-item:nth-child(2) {
    background-image: url(../img/unnamed.webp);
}

.carousel .carousel-inner .carousel-item:last-child {
    background-image: url(../img/one.webp);
}

.carousel .carousel-inner .carousel-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 80%);
}

.carousel .carousel-item .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* End Landing Section  */
